<?xml version="1.0" encoding="euc-kr"?>
<SYSTEM type="ACTIVE" runmode="FORGROUND" title="GLDS Gateway" loopdly="10" />
<CONFIG system="SHM" enable="0" key="7810" size="1518" count="1024" delay="3000" />
<CONFIG system="SHM_S" enable="0" key="1078" size="1" count="1024" delay="3000" />
<CONFIG system="GPSM" enable="0" port="/dev/ttyO1" baudrate="9600" databit="8" stopbit="1" paritybit="0" blockmode="0" delay="3000" />
<CONFIG system="WFM" enable="0" port="/dev/ttyO1" baudrate="9600" databit="8" stopbit="1" paritybit="0" blockmode="1" sdelay="2000" ldelay="8000" ap_ssid="dvl" ap_pw="dvl@d510" est="CLIENT" estid="0" ept="TCP" esi="192.168.0.2" esp="2654" />
<CONFIG system="SERIAL" enable="0" port="/dev/ttyS0" baudrate="115200" databit="8" stopbit="1" paritybit="0" blockmode="0" echomode="1" delay="3000" />
<xCONFIG system="PACKET" enable="0" ifname="enp3s0" delay="3000" eth="50:b7:c3:ac:f9:b6" port='21,22,23,80,1024~2048,10000~20000' />
<CONFIG system="PACKET" enable="0" ifname="enp3s0" delay="3000" eth="50:b7:c3:ac:f9:b6" port='80' />
<CONFIG system="WEBSOCKET" enable="1" ip="127.0.0.1" port="7810" type="SERVER" echomode="0" delay="3000" key="shinbaad@gmail.com" timeout="5000"/>
<CONFIG system="HTTP" enable="0" delay="3000" ip="fcm.googleapis.com" port="443" uri="/" />
<CONFIG system="HTTPD" enable="0" delay="3000" ip="0.0.0.0" port="80" home="/usr/local/www" index="index.html" />
<CONFIG system="SOCKET" enable="0" ip="127.0.0.1" port="7870" type="SERVER" protocol="TCP" cast="UNICAST"  echomode="0" delay="3000" rdelay="1000"  key="shinbaad@gmail.com" timeout="-1"/>/>
<CONFIG system="SSL" enable="0" ip="15.73.200.26" ipx="https://www.hp.com" port="443" type="CLIENT" delay="3000" />
<CONFIG system="AI" enable="0" pbfile="graph.pb" />
